.video-detail-container {
  display: flex;
  float: right;
  flex-direction: column;
  width: 18%;
  gap: 20px;
}
.video-detail-container div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.current-video {
  flex-grow: 1;
  padding: 0 2% 0 2%;
}
.video-detail-container p {
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.web-page {
  display: flex;    
  flex-direction: row;
  justify-content: flex-end;
  padding: 2% 5% 0 0;
}
